{% extends 'base.html.twig' %}
{% block title %} Portfolio {% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

    <h1 class="text-center mt-4">DEVELOPPEUSE WEB/ WEB MOBILE</h1>
    <div>


    </div>


{% endblock %}