$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab:wght@300&family=Ubuntu&display=swap');

$font-text: 'Roboto Slab', sans-serif;
$font-title: 'Merriweather', sans-serif;
$font-nav: 'Ubuntu', sans-serif;

$light-color: #ffffff;
$widget-color: #C7B494;

$size-quote:18px;
$size-footer-text: 10px;
$size-navbar-text: 18px;

@import "~bootstrap/scss/bootstrap";