@import "vars";

h1, h2, h3 {
  font-family: $font-title;
}

p {
  font-family: $font-text;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: $font-nav;
  color: $light-color;
  text-decoration: none;
}

.navbar-brand {
  font-family: $font-nav;
  color: $light-color;
}

.home {
  background-image: url('/build/portfolio_background.jpg');
  background-size: cover;
  height: 655px;
}


@import "~bootstrap/scss/bootstrap";