{% extends 'base.html.twig' %}

{% block title %}Accueil Administrateur{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

    <section class="d-flex align-items-center mb-5">
        <div class="container">
            <div class="row mt-4 mb-4 flex-column">
                <h1 class="my-4 text-center">Administration</h1>
            </div>

            <div class="row mb-4 justify-content-around mt-4">
                <div class="blur card m-4 col-md-5">
                    <div class="card-body">
                        <h5 class="text-center card-title">Page d'accueil</h5>
                        <p class="text-center card-text">Accueil</p>
                        <div class="text-center mt-2"><a
{#                                    href="{{ path('project_index') }}"#}
                                    class="btn btn-dark">Aller</a></div>
                    </div>
                </div>

                <div class="blur card m-4 col-md-5">
                    <div class="card-body">
                        <h5 class="text-center card-title">Gestion du Portfolio</h5>
                        <p class="text-center card-text">Portfolio</p>
                        <div class="text-center mt-2"><a
                                    href="{{ path('project_index') }}"
                                                         class="btn btn-dark">Aller</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
