<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        <link rel="icon" href="{{ asset('build/evoli.png') }}" />
    </head>
    <body>
    <header class="home">
    {% include '_navbar.html.twig' %}

        {% block javascripts %}{% endblock %}
    </header>
    {% block body %}{% endblock %}

    </body>
</html>
