<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        <link rel="icon" href="{{ asset('build/evoli.png') }}" />
    </head>
    <body>
    <header class="home">
    {% include '_navbar.html.twig' %}


    </header>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="https://kit.fontawesome.com/fc2e3a10bb.js" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
