{% extends 'base.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Edit Projet</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn-outline-dark" href="{{ path('project_index') }}">Retour</a>


    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
