{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Nouveau Projet</h1>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('project_index') }}">Retour</a>
{% endblock %}
